<%- layout('layout')%>
<%- partial('sidebar')%>
<div id="content">
    <div class="panel">
        <div class="header">
            <ul class="breadcrumb">
                <li><a href="/">主页<span class="divider">/</span></a></li>
                <li>登录</li>
            </ul>
        </div>
        <div class="inner">
            <% if(typeof(error)!=='undefined' && error) { %>
            <div class="alert alert-error">
                <a href="#" class="close" data-dismiss="alert">
                    &times;
                </a>
                <strong><%= error %></strong>
            </div>
            <% } %>
            <% if(typeof(success)!=='undefined' && success) { %>
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert">
                    &times;
                </a>
                <strong><%= success %></strong>
            </div>
            <% } %>
            <form class="form-horizontal" id="signin_form" action="/signin" method="post">
                <div class="control-group">
                    <label class="control-label" for="signin_name">用户名</label>
                    <div class="controls">
                        <input class="input-xlarge" id="signin_name" name="signin_name" type="text">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="signin_pwd">密码</label>
                    <div class="controls">
                        <input class="input-xlarge" id="signin_pwd" name="signin_pwd" type="password">
                    </div>
                </div>
                <div class="form-actions">
                    <input type="submit" class="span-primary" value="登录"/>
                    <input type="reset" class="span-info" value="重置"/>
                </div>

            </form>
        </div>
    </div>
</div>