<div id="sidebar">
    <div class="panel">
        <div class="header"><h4>Markdown 语法参考</h4></div>
        <div class="inner">
            <ol>
                <li>### 单行的标题</li>
                <li>**粗体**</li>
                <li>`console.log('行内代码')`</li>
                <li>```js\n code \n``` 标记代码块</li>
                <li>[内容](链接)</li>
                <li>![文字说明](图片链接)</li>
                <li><a href="http://www.appinn.com/markdown/">MarkDown文档</a></li>
            </ol>
        </div>
    </div>
</div>